@import 'variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  @media (max-width: 768px) {
    &__cart {
      margin-top: 30px;
    }
  }
  @keyframes logoJump {
    0% {
      transform: translateY(0);
    }
    50%{
      transform: translateY(-5px);
    }
    100%{
      transform: translateY(0);
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    transition: 0.25s ease-out;
    
    &:hover {
      opacity: 0.8;
      animation: logoJump 1s ease;
    }
    

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
}
